/* Style tab links */

#slider {
    margin-top:6%;
}
.carousel-item {
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-upclass {
    height: 13em;
    color: black;
}
.carousel-text {
    position: initial;
    text-shadow: 3px 2px black;
}
.selectLoGioca {
    color: lightgray;
    background: white;
    border-radius: 3px;
    width: 38%;
    cursor: pointer;
    border-color: lightgray;
}


.FasciaPrincipale {
    display: contents;
    text-align: center;
    color: white;
    background-color: #e9ecef;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    margin-bottom: 0 !important;
}
#TastoElimina {
    cursor: pointer;
    width: 1.5em;
    position: inherit;
    margin-top: 0px;
    left: 0%;
}

#TastoModifica {
    cursor: pointer;
    width: 1.5em;
    position: inherit;
    margin-top: 0px;
    left: 0%;
}

#TastoIscrizione {
    cursor: pointer;
    width: 1.5em;
    position: inherit;
    margin-top: 0px;
    left: 0%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 10%;
}
.Styletr:hover {
    background-color: #ffa50030;
}

#ProfiloGiocatore {
    width: 45%;
}
#bodyModal {
    display: flex;
}

* {
    box-sizing: border-box
}
.Partial {
    padding-top: 1.5em;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: lightgray;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/*CSS CUSTOMBUTTONS DEL CALENDARIO*/
.fc-toolbar-title {
    text-align: center;
    font-size: 1.30em !important;
}
.fc-button {
    border: 1px solid black !important;
}
.fc-button:not(:first-child) {
    background-color: white;
    background-image: none;
    color: lightgray;
    border-color: lightgray;
}

    .fc-button:not(:first-child):hover {
        background-color: lightgray;
    }

    .fc-button:not(:first-child):focus {
        background-color: lightgray;
    }

.fc-button:not(:last-child) {
    background-color: white;
    background-image: none;
    /*color: lightgray;*/
    border-color: lightgray;
}

    .fc-button:not(:last-child):hover {
        background-color: lightgray;
    }

    .fc-button:not(:last-child):focus {
        background-color: lightgray;
    }

.buttonSearchDate {
    background: unset;
    border: unset;
    vertical-align: middle;
    font-size: 70%;
}

    .buttonSearchDate:focus {
        outline: none;
    }

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



.btn-Eliminazione {
    background-color: transparent !important;
    border-color: none !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    float: right !important;
}

.MSG-Content {
    background-color: transparent !important;
}

.MSG-title {
    margin-bottom: 0 !important;
    line-height: 2.5 !important;
    font-size: 25px;
    color: white;
    margin-left: 1%;
}
.selectPlayerBox {
    height: 10em;
    overflow-y: scroll;
    border-color: darkgray;
    border-style: solid;
    padding-left: 1em;
    border-bottom-left-radius: 5px;
}
.selectAll {
    text-align: right;
    padding-top: 3px;
}

#colInterno {
    text-align: center;
    font-size: 1.7em;
}

.headerSelectPlayer {
    margin: unset;
    border-color: darkgrey;
    border-bottom: unset;
    padding-top: 0.5em;
    background: lightgray;
}

.selectInfoBox {
    padding-left: unset;
    padding-bottom: 1em;
}
#tablePlayer {
}
.headerLabelPop {
    font-family: fantasy;
    font-variant: petite-caps;
    font-style: italic;
    text-align: center;
    font-size: 180%;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}