@using LoGioca.Models;
@model IEnumerable<ClassificaRelUtente>

<div id="Classifiche" class="tabcontent">




    <table class="table" id="tabClassifiche">
        <tr class="thead-index">

            <th class="headTdTab">Giocatore</th>
            <th class="headTdTab">Gol</th>
            <th class="headTdTab">Presenze</th>
            
        </tr>



        @foreach (ClassificaRelUtente relUtente in Model)
         {

            <tr class="Styletr">

                <td >@relUtente.Nome @relUtente.Cognome</td>
                <td >@relUtente.GolSegnati</td>
                <td >@relUtente.Presenze</td>


            </tr>
         }
        </table>
</div>