
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid"> @*questo div serve per rimuovere quando switcho tab*@

    <div id="Logioca" class="tabcontent">
        <header>
           
        </header>
    </div>

</div>